In [9]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import datetime as dt
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

#  Import and read the sales data
url = 'https://raw.githubusercontent.com/rbono22/Retail_Analysis/main/Resources/cleaned_datasets/final_cleaned_dataset.csv'
CPI_df = pd.read_csv(url, index_col=0)
CPI_df

      type    size  dept  ...     dspi  unemployment  isholiday
store                     ...
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11347.8         6.973          f
...    ...     ...   ...  ...      ...           ...        ...
6        A  202505  91.0  ...  11213.1         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f

[422740 rows x 12 columns]

In [2]:
#drop NA values 
CPI_df = CPI_df.dropna()
CPI_df

      type    size  dept  ...     dspi  unemployment  isholiday
store                     ...
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11319.4         7.092          f
6        A  202505  91.0  ...  11347.8         6.973          f
...    ...     ...   ...  ...      ...           ...        ...
6        A  202505  91.0  ...  11213.1         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f
6        A  202505  91.0  ...  11305.7         7.092          f

[421570 rows x 12 columns]

In [3]:
#encode 'isHoliday' 
CPI_df["isholiday"] = CPI_df["isholiday"].map({'f': 0 ,'t': 1})
CPI_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      type    size  dept  ...     dspi  unemployment  isholiday
store                     ...
6        A  202505  91.0  ...  11319.4         7.092          0
6        A  202505  91.0  ...  11319.4         7.092          0
6        A  202505  91.0  ...  11319.4         7.092          0
6        A  202505  91.0  ...  11319.4         7.092          0
6        A  202505  91.0  ...  11347.8         6.973          0
...    ...     ...   ...  ...      ...           ...        ...
6        A  202505  91.0  ...  11213.1         7.092          0
6        A  202505  91.0  ...  11305.7         7.092          0
6        A  202505  91.0  ...  11305.7         7.092          0
6        A  202505  91.0  ...  11305.7         7.092          0
6        A  202505  91.0  ...  11305.7         7.092          0

[421570 rows x 12 columns]

In [4]:
#Converting date column to date object
CPI_df['date']= pd.to_datetime(CPI_df['date'])
CPI_df['date'] = CPI_df['date'].map(dt.datetime.toordinal)
CPI_df.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

type             object
size              int64
dept            float64
date              int64
weekly_sales    float64
temperature     float64
fuel_price      float64
cpi             float64
inflation       float64
dspi            float64
unemployment    float64
isholiday         int64
dtype: object

In [5]:
#Create random forest model

# create features and target variables 
y = CPI_df['weekly_sales']
X = CPI_df.drop(['weekly_sales','dept', 'type', 'date'], axis=1)

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
#create the model
regressor = RandomForestRegressor(n_estimators = 300, min_weight_fraction_leaf=.05, random_state=0)

#fit the model with the training data 
regressor.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = regressor.predict(X_test_scaled)
print(f" Random forest predictive r2 score: {r2_score(y_test,y_pred):.3f}")

 Random forest predictive r2 score: 0.075

In [7]:
X.shape

(421570, 8)

In [8]:
y.shape

(421570,)