In [1]:
import pandas as pd
import re
from sqlalchemy import create_engine
import psycopg2
from config import db_password
import time

In [2]:
# read in CSV
retail_df = pd.read_csv('../../Resources/cleaned_datasets/final_cleaned_dataset.csv')
retail_df.head()

,store,type,size,dept,date,weekly_sales,temperature,fuel_price,cpi,inflation,dspi,unemployment,isholiday
0,6,A,202505,91.0,2010-06-04,47689.17,79.44,2.705,212.698244,1.640043,11319.4,7.092,f
1,6,A,202505,91.0,2010-06-11,48320.06,81.81,2.668,212.983599,1.640043,11319.4,7.092,f
2,6,A,202505,91.0,2010-06-18,48363.68,83.89,2.637,212.981384,1.640043,11319.4,7.092,f
3,6,A,202505,91.0,2010-06-25,44107.29,84.20,2.653,212.864141,1.640043,11319.4,7.092,f
4,6,A,202505,91.0,2010-07-02,48001.02,80.34,2.669,212.746898,1.640043,11347.8,6.973,f

In [3]:
# Creating connection to PostgreSQL database
# database is named final_project
# final table creation query is available in the "Queries" folder
# db_password can be changed in the config.py file
# port 5433 is used, but this can be changed to match your settings
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/final_project"
engine = create_engine(db_string)
retail_df.to_sql(name='retail', con=engine, if_exists='replace')

In [4]:
# export the data to a SQL table
rows_imported = 0
# get the start_time
start_time = time.time()
for data in pd.read_csv(f'../../Resources/cleaned_datasets/final_cleaned_dataset.csv', chunksize=10000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='retail', con=engine, if_exists='replace')
    rows_imported += len(data)
    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 10000...Done. 0.8639371395111084 total seconds elapsed
importing rows 10000 to 20000...Done. 1.7222909927368164 total seconds elapsed
importing rows 20000 to 30000...Done. 2.525689125061035 total seconds elapsed
importing rows 30000 to 40000...Done. 3.3281071186065674 total seconds elapsed
importing rows 40000 to 50000...Done. 4.224911212921143 total seconds elapsed
importing rows 50000 to 60000...Done. 5.09506630897522 total seconds elapsed
importing rows 60000 to 70000...Done. 5.880917072296143 total seconds elapsed
importing rows 70000 to 80000...Done. 6.722213983535767 total seconds elapsed
importing rows 80000 to 90000...Done. 7.555500030517578 total seconds elapsed
importing rows 90000 to 100000...Done. 8.39976716041565 total seconds elapsed
importing rows 100000 to 110000...Done. 9.250158071517944 total seconds elapsed
importing rows 110000 to 120000...Done. 10.086775064468384 total seconds elapsed
importing rows 120000 to 130000...Done. 10.968415021896362 total seconds elapsed
importing rows 130000 to 140000...Done. 11.836825132369995 total seconds elapsed
importing rows 140000 to 150000...Done. 12.663575172424316 total seconds elapsed
importing rows 150000 to 160000...Done. 13.483325004577637 total seconds elapsed
importing rows 160000 to 170000...Done. 14.36658000946045 total seconds elapsed
importing rows 170000 to 180000...Done. 15.222125053405762 total seconds elapsed
importing rows 180000 to 190000...Done. 16.05060911178589 total seconds elapsed
importing rows 190000 to 200000...Done. 16.931862115859985 total seconds elapsed
importing rows 200000 to 210000...Done. 17.787865161895752 total seconds elapsed
importing rows 210000 to 220000...Done. 18.604757070541382 total seconds elapsed
importing rows 220000 to 230000...Done. 19.445922136306763 total seconds elapsed
importing rows 230000 to 240000...Done. 20.334355115890503 total seconds elapsed
importing rows 240000 to 250000...Done. 21.187280893325806 total seconds elapsed
importing rows 250000 to 260000...Done. 22.03779411315918 total seconds elapsed
importing rows 260000 to 270000...Done. 22.907637119293213 total seconds elapsed
importing rows 270000 to 280000...Done. 23.724785089492798 total seconds elapsed
importing rows 280000 to 290000...Done. 24.5277042388916 total seconds elapsed
importing rows 290000 to 300000...Done. 25.381603240966797 total seconds elapsed
importing rows 300000 to 310000...Done. 26.220860958099365 total seconds elapsed
importing rows 310000 to 320000...Done. 27.026411056518555 total seconds elapsed
importing rows 320000 to 330000...Done. 27.901581048965454 total seconds elapsed
importing rows 330000 to 340000...Done. 28.712303161621094 total seconds elapsed
importing rows 340000 to 350000...Done. 29.516523122787476 total seconds elapsed
importing rows 350000 to 360000...Done. 30.419079065322876 total seconds elapsed
importing rows 360000 to 370000...Done. 31.245455980300903 total seconds elapsed
importing rows 370000 to 380000...Done. 32.050626039505005 total seconds elapsed
importing rows 380000 to 390000...Done. 32.89393901824951 total seconds elapsed
importing rows 390000 to 400000...Done. 33.710418939590454 total seconds elapsed
importing rows 400000 to 410000...Done. 34.53812313079834 total seconds elapsed
importing rows 410000 to 420000...Done. 35.37651705741882 total seconds elapsed
importing rows 420000 to 422740...Done. 35.628310203552246 total seconds elapsed